{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Пользователи</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.is_admin %}
                    Администратор
                    {% else %}
                    Пользователь
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('quiz.index') }}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
